:root {
  --color-primary: rgb(65, 69, 84);
  --color-text-primary: #ffffff;
  --color-border: #6b7280;
  
  --header-height: 45px;
  --footer-height: 25px;
  
  --font-family-base: system-ui, -apple-system, 'Segoe UI', 'Roboto', sans-serif;
  
  --z-header: 50;
  --z-menu: 99;
  --z-hamburger: 100;
  --z-overlay: 1000;
}
